h1 {
  color: #7f7f7f;
  padding-top: 30px;
  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
}
ul {
  padding: 0;
}
.date,
li {
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  color: #7f7f7f;
  font-weight: 400;
  font-size: 16px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 565px;
  margin: auto;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 27px;
  padding-bottom: 21px;
  border-radius: 16px;
  background-color: #ffffff;
  margin-block: 82px;
  box-shadow: 2px 5px 5px rgb(0 0 0 / 2%);
}

.iconHeader {
  position: relative;

  top: -25px;
  left: -19px;
}

.headerDegree {
  font-family: "Quantico", sans-serif;
  font-size: 90px;
}

.active {
  font-weight: bolder;
  color: black;
}

#ferhenhit-link,
#celsius-link {
  font-size: 20px;
  cursor: default;
}

.farenheit {
  font-family: "Roboto";
  position: absolute;
  color: #7f7f7f;
}

#inputCity {
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  border-radius: 28px;
  padding-right: 125px;
  line-height: 43px;
  margin-right: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-left: 10px;
  box-shadow: 2px 5px 5px rgb(0 0 0 / 5%);
}
.searchButton {
  padding: 14px 17px;
  margin-left: 5px;
  background: #2274a5;
  color: whitesmoke;
  border-radius: 37px;
  border: none;
  box-shadow: 2px 5px 5px rgb(0 0 0 / 10%);
}

#currentButton {
  padding: 14px 19px;
  margin-left: 22px;
  background: #ec6e4b;
  color: whitesmoke;
  border-radius: 37px;
  border: none;
  box-shadow: 2px 5px 5px rgb(0 0 0 / 10%);
}
.fas {
  font-size: 20px;
}
.borders {
  border: 3px solid transparent;
  font-family: "Roboto", sans-serif;
  padding: 40px 10px 40px 10px;
  margin: -9px;
  background: transparent;
  color: #58555a;
  font-size: 18px;
  transition: all 200ms ease-in-out;
}

.borders:hover {
  background-color: #2274a5;
  font-family: "Roboto", sans-serif;
  color: #fcfcff;
  font-weight: bolder;
  border-radius: 6px;
  font-size: 21px;
}

.row {
  text-align: center;
  position: relative;
  display: flex;
  margin: 0;
  padding: 0px 1px 0px 1px;
  align-items: flex-end;
  justify-content: space-between;
}
.temperature-max {
  font-weight: bold;
}
.temperature-min {
  font-weight: lighter;
  opacity: 0.7;
}
footer {
  font-size: small;
  margin-top: -77px;
  max-width: 540px;
}

a {
  text-decoration: none;
  color: #5664ff;
  font-size: small;
}
